<div class='container has-text-centered'>
	<h1 class='title is-1'>Sign up form</h1>
</div>

<div class='section is-centered'>
	<form
		action='/auth/signup'
		method='POST'
		class='column is-4 is-centered has-text-centered'
		style='margin: auto'
	>

		<div class='field'>
			<label class='label'>Username:</label>

			<div class='control has-icons-left has-icons-right'>
				<input class='input' type='text' name='username' required />
			</div>

			<span class='icon is-small is-left'>
				<i class='fas fa-user'></i>
			</span>

			<span class='icon is-small is-right'>
				<i class='fas fa-check'></i>
			</span>

		</div>

		<div class='field'>
			<label class='label'>Email:</label>

			<div class='control has-icons-left has-icons-right'>
				<input class='input' type='email' name='email' required />
			</div>

			<span class='icon is-small is-left'>
				<i></i>
			</span>

			<span class='icon is-small is-right'>
				<i></i>
			</span>
		</div>

		<div class='field'>
			<label class='label'>Password:</label>

			<div class='control has-icons-left has-icons-right'>
				<input class='input' type='password' name='password' required />
			</div>

			<span class='icon is-small is-left'>
				<i></i>
			</span>

			<span class='icon is-small is-right'>
				<i></i>
			</span>
		</div>

		<button class='button is-rounded is-link' type='submit'>Sign up</button>
	</form>

</div>

{{#if errorMessage}}
	<p>{{errorMessage}}</p>
{{/if}}